.educating {
  padding: 100px 4rem;
  display: flex;

  &-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .educating-title {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__item {
        font-size: 48px;
        font-weight: bold;
      }
    }

    &__text {
      font-weight: 400;
    }
  }
}
