.approve {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  gap: 20px;

  &-text {
    display: flex;
    flex-direction: column;

    span {
      color: #6b6b6b;
    }
  }
}
