.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 4rem 20px;
  align-items: center;

  &-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0;

    &__logos {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__links {
      display: flex;
      gap: 15px;
    }
  }
}
