.page-wrapper {
  padding: 20px 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-wrapper {
    padding: 6px;
    display: flex;
    flex-grow: 1;

    &__content {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
